

<h1>Player: @ViewBag.Greeting</h1>
<h2>You have @ViewBag.TriesLeft tries</h2>

<hr />


<form asp-action="HandleGuess">
  
  <div class="container">
    <div class="row my-10">

      <div class="col-md-2">
        <div class="form-group">
          <label name="GuessNumber1" class="control-label">Digit 1</label>
          <input name="GuessNumber1" class="form-control" maxlength="1" style="width: 55px;" placeholder="?" />
          
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label name="GuessNumber2" class="control-label">Digit 2</label>
          <input name="GuessNumber2" class="form-control" maxlength="1" style="width: 55px;" placeholder="?" />
          
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label name="GuessNumber3" class="control-label">Digit 4</label>
          <input name="GuessNumber3" class="form-control" maxlength="1" style="width: 55px;" placeholder="?" />
          
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label name="GuessNumber4" class="control-label">Digit 4</label>
          <input name="GuessNumber4" class="form-control" maxlength="1" style="width: 55px;" placeholder="?" />
          
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <div class="my-1">
            Press
          </div>
          <input type="submit" value="Guess" class="btn btn-primary" />
        </div>
      </div>

    </div>
  </div>
</form>

<hr />
<h3>@ViewBag.PreviousGuess</h3>
<h3>@ViewBag.Result</h3>

<div>Result of previous tries:</div>
<div>
  @Html.Raw(ViewBag.LogOut)
</div>


