@model IEnumerable<GuessGameWebApp.Models.Player>
@*@{
    int gamesTotal = ViewBag.gamesTotal;
  }*@
<hr />
<h1>Leader board</h1>
<section class="mt-5">

  <hr />
  <h3>
    Enter minimum games played <b>N</b> to show on the Leader board
  </h3>
  @*<div class="my-3 mx-2"><b>N</b> is set to @ViewBag.NgamesPlayed currently</div>*@
  <form asp-action="LeaderBoard">

    <div class="container">
      <div class="row w-25">

        <div class="col">
          <div class="form-group">

            <input name="nStr" type="text" class="form-control" maxlength="2" style="width: 75px;" placeholder="@ViewBag.NgamesPlayed" />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <input type="submit" value="N" class="btn btn-outline-primary" />
          </div>
        </div>

      </div>
    </div>

  </form>

  <table class="table">
    <thead>
      <tr>

        <th>
          @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.GamesPlayed)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Losses)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Wins)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Rank)
        </th>

      </tr>
    </thead>
    <tbody>

      @foreach (var item in Model)
      {
        <tr>

          <td>
            @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.GamesPlayed)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Losses)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Wins)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Rank)
            @*@{
                  decimal rank = gamesTotal != 0 ? (decimal)item.Wins / (decimal)gamesTotal : 0;
              }
              Html.DisplayFor(modelItem => rank)*@
          </td>
        </tr>
      }
    </tbody>
  </table>
  <hr />

  <div class="col-12 my-4 text-center">
    <a asp-controller="Game" asp-action="Index" type="button" class="btn btn-outline-primary">Back to First Screen</a>
  </div>
</section>